@model SaifHassanW2.Models.Entitys.TeamMember

@{
    ViewData["Title"] = "Details";
}

<h1>Member Details</h1>

<div>
    <h4>Member Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
      
    </dl>
</div>

<div>
    <h4> Tasks</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Deadline</th>
                <th>Team Members</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tasks)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Status</td>
                    <td>@item.Priority</td>
                    <td>@item.Deadline</td>
                    <td>
                      @item.TeamMember.Name
                    </td>
                    <td>
                        <a asp-action="update" asp-controller="TeamMember" asp-route-id="@Model.TeamID">Edit</a>
                        <a asp-action="Remove" asp-controller="TeamMember" asp-route-id="@Model.TeamID">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
